<template>
    <v-btn icon @click="dialog = true" class="mt-2">
        <v-icon color="green">mdi-plus-box</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" width="414" persistent="">
        <v-card>
            <v-card-title>Add Task</v-card-title>
            <v-card-text>
                <v-text-field
                    v-model="task"
                    label="Task"
                    dense
                ></v-text-field>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
                <v-btn color="primary" @click="this.closeDialog">
                    Cancel
                </v-btn>
                <v-btn color="success" @click="addTask">
                    Add
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  data() {
    return {
      task: '',
      dialog: false,
    };
  },
  computed: {
      ...mapGetters({
        todos: 'todos'
      }),
    },
  methods: {
    closeDialog() {
      this.task = '';
      this.dialog = false;
    },
    getNewId(){
        let largestId = this.todos.reduce((maxId, currentObject) => {
            return Math.max(maxId, currentObject.id);
        }, -Infinity);

        if (largestId ==  -Infinity){
            return 1
        } else {
            return largestId + 1
        }
    },
    async addTask() {
        if (this.task.length != 1 && this.task.length != 2 && this.task.length != 0){

            const exists = this.doesTitleExist();

            if (exists){
                const payload = {
                    status : true,
                    message: 'Duplicate Task',
                    messageType: 'error'
                }
                this.$store.commit('UPDATE_SNACKBAR', {payload});
            } else {
                this.callAddTask()
            }

        } else {
            const payload = {
                status : true,
                message: 'Title Too Short',
                messageType: 'error'
            }
            this.$store.commit('UPDATE_SNACKBAR', {payload});
        }
    },
    doesTitleExist() {
        const matchingObjects = this.todos.filter(obj => obj.title === this.task);
        return matchingObjects.length > 0;

    },
    callAddTask(){
        this.todos.unshift({
            userId: 1,
            id: this.getNewId(),
            title: this.task,
            completed: false
        })
        this.closeDialog()
        const payload = {
            status : true,
            message: 'Task Successfully Added',
            messageType: 'success'
        }
        this.$store.commit('UPDATE_SNACKBAR', {payload});
    }
  },
};
</script>
