<template>
  <v-container fluid class="scrollable-container my-5">
    <v-row dense>
      <v-col v-for="(todo, index) in todos" :key="index" cols="12">
        <v-card
          @click="updateStatus(todo, index)"
          class="mt-3"
          :title="todo.title"
        >
        <template v-slot:subtitle>
          <section v-if="!todo.completed">Pending <v-icon color="grey">mdi-check-circle-outline</v-icon></section>
          <section v-else>Completed <v-icon color="success">mdi-check-circle</v-icon></section>
        </template>

        <template v-slot:append>
          <v-btn
            @click="updateItem(todo, index, $event)"
            color="indigo"
            variant="text"
            rounded
          ><v-icon>mdi-pencil</v-icon></v-btn>
        </template>

        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialog" width="414" persistent="">
        <v-card>
            <v-card-title>Update Task</v-card-title>
            <v-card-text>
                <v-text-field
                    v-model="toUpdateTitle"
                    label="Update"
                    dense
                ></v-text-field>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
                <v-btn color="primary" @click="this.closeDialog">
                    Cancel
                </v-btn>
                <v-btn color="success" @click="callUpdateItem">
                    Update
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      toUpdateTitle: '',
      toUpdateIndex: '',
      dialog: false,
    };
  },
  computed: {
    ...mapGetters({
      todos: 'todos',
    }),
  },
  methods: {
    closeDialog() {
      this.toUpdateTitle = '';
      this.toUpdateIndex = '';
      this.dialog = false;
    },
    updateStatus(item, index){
      if (item.completed == true){
        this.todos[index].completed = false
      } else {
        this.todos[index].completed = true
      }
    },
    updateItem(item, index){
      this.dialog = true
      this.toUpdateTitle = item.title
      this.toUpdateIndex = index

      event.stopPropagation();
    },
    callUpdateItem(){
      if (this.toUpdateTitle.length != 1 && this.toUpdateTitle.length != 2 && this.toUpdateTitle.length != 0){
          this.todos[this.toUpdateIndex].title = this.toUpdateTitle
          this.closeDialog()
      } else {
          const payload = {
              status : true,
              message: 'Invalid Title',
              messageType: 'error'
          }
          this.$store.commit('UPDATE_SNACKBAR', {payload});
      }
    },
  },
};
</script>

<style scoped>
.scrollable-container {
  max-height: 100vh;
  overflow-y: auto;
}
.scrollable-container::-webkit-scrollbar {
  width: 6px;
}
.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #888;
}
.scrollable-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
</style>

