<template>
  <v-snackbar v-model="snackBar" :color="type" multi-line top>
    {{ message }}
    <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          text
          v-bind="attrs"
          @click="close"
        >
          Close
        </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name : 'Notify',
    computed: {
        ...mapGetters({
            snackBar: 'snackBar',
            message: 'snackBarMessage',
            type: 'messagetype'
        }),
    },
	watch:{
		snackBar(newVal){
			if(newVal){
				setTimeout(() => {
					this.close();
				}, 4000);
			}
		}
	},
	methods: {
		close() {
            const payload = {
                status : false,
                message: '',
                messagetype: ''
            }
			this.$store.commit('UPDATE_SNACKBAR',{payload});
		}
	}
};
</script>