<template>
  <v-app>
    <v-card max-width="414" min-width="414" class="mx-auto" style="height: 100vh">
      <v-layout>

        <v-app-bar color="black" class="py-4">
          <section class="px-2">
            <v-chip variant="flat" color="green" class="mr-2 mt-2">
              Done<v-chip variant="flat" color="white" class="ml-2" size="x-small">{{ completedTask }}</v-chip>
            </v-chip>
            <v-chip variant="flat" color="grey" class="mr-2 mt-2">
              Pending <v-chip variant="flat" color="white" class="ml-2" size="x-small">{{ pendingTask }}</v-chip>
            </v-chip>
            <v-chip variant="flat" color="red" @click="removeCompletedTask" class="mt-2">
              Task Done <v-icon>mdi-trash-can-outline</v-icon>
            </v-chip>
          </section>
          <v-spacer></v-spacer>
          <AddTask/>
        </v-app-bar>

        <v-main>
          <HomePage/>
        </v-main>

      </v-layout>
      <SnackBar/>
    </v-card>
  </v-app>
</template>

<script>

import {mapGetters} from 'vuex'

  export default {
    
    computed: {
      ...mapGetters({
        todos: 'todos'
      }),
      completedTask() {
        return this.completedTaskCount();
      },
      pendingTask() {
        return this.todos.length - this.completedTaskCount();
      },
    },
    watch:{
      todos: {
          handler(newValue, oldValue) {
            // Update local storage everytime the Todos state is changed.
            console.log('Array changed:', newValue, oldValue);
            localStorage.setItem('todos', JSON.stringify(this.todos))
          },
          deep: true,
      },
    },
    mounted(){
      this.getData()
    },
    methods: {
      async getData(){
        const res = await this.$store.dispatch('getPlaceHolderData')
        this.$store.commit('UPDATE_TODOS', res.data)
      },
      completedTaskCount() {
        return this.todos.filter(task => task.completed).length;
      },
      removeCompletedTask() {
        if (this.completedTaskCount() == 0){
          const payload = {
            status : true,
            message: 'No Completed Tasks to Delete',
            messageType: 'error'
          }
          this.$store.commit('UPDATE_SNACKBAR', {payload});
        } else {
          const payload = {
            status : true,
            message: 'Task Deleted Successfully',
            messageType: 'success'
          }
          this.$store.commit('UPDATE_SNACKBAR', {payload});
          this.$store.commit('REMOVE_COMPLETED_TASKS');
        }
      },
    }
  }

</script>


